<app-card class="mb-3">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Priorização</th>
          <th>Número do cadastro</th>
          <th>Titular</th>
          <th>CPF</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lista; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.holder.number || "-" }}</td>
          <td>{{ item.holder.name || "-" }}</td>
          <td>{{ item.holder.cpf || "-" | mask: "000.000.000-00" }}</td>
          <td>
            <button
              class="btn btn-info"
              *ngIf="item.typeStatusResidencial == 0"
              (click)="handleDatailsFamily(item)"
            >
              Detalhes
            </button>
            <button
              *ngIf="item.typeStatusResidencial == 0 && openForSale === true"
              class="btn btn-outline-success"
              (click)="sellProperty(item.id)"
            >
              Vender
            </button>

            <button
              *ngIf="item.typeStatusResidencial == 1"
              type="button"
              class="btn btn-success"
              (click)="handleDatailsFamily(item)"
            >
              Contemplado
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>

<ng-template #detailsFamily>
  <app-family-view [family]="family"></app-family-view>
</ng-template>
