<h2>Dados do titular</h2>

<app-card class="mb-3">
  <div class="row">
    <div class="col-md-3">
      <div class="font-weight-bold">Número do cadastro</div>
      <div class="font-italic">{{ family.holder?.number || "-" }}</div>
    </div>

    <div class="col-md-3">
      <div class="font-weight-bold">Nome do morador titular</div>
      <div class="font-italic">{{ family.holder?.name || "-" }}</div>
    </div>

    <div class="col-md-3">
      <div class="font-weight-bold">CPF do morador titular</div>
      <div class="font-italic">
        {{ family?.holder?.cpf | mask: "999.999.999-99" }}
      </div>
    </div>

    <div class="col-md-3 text-right">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="handleDetails()"
      >
        Detalhes
      </button>
    </div>
  </div>
</app-card>

<ng-container
  *ngIf="processoReassentamentoAtivo; else semProcessoAcessentamento"
>
  <h2>Passos</h2>
  <app-card class="mb-3">
    <ng-container
      *ngFor="let etapa of etapasProcessoReassentamentoAtivo; let i = index"
    >
      <button
        class="btn btn-info mr-2"
        *ngIf="etapa.disponivel"
        (click)="selecionarEtapa(i)"
      >
        {{ etapa.label }}
      </button>
    </ng-container>
  </app-card>

  <ng-container *ngIf="etapaSelecionada">
    <app-card class="mb-3">
      <h2>{{ etapaSelecionada?.label }}</h2>
      <button
        *ngIf="etapaSelecionada?.label == 'Mudança'"
        class="btn btn-primary"
        (click)="confirmChange({})"
      >
        Confirmar mudança
      </button>

      <div class="mb-2">
        <app-schedule-list [list]="[]"></app-schedule-list>
      </div>

      <div *ngIf="etapaSelecionada?.label == 'Escolha do imóvel'" class="mb-2">
        <h4>Lista de imóveis</h4>
        <app-match-list [list]="[]"></app-match-list>
      </div>

      <div class="mb-2">
        <app-questionnaries-avaliable-list
          [list]="[]"
        ></app-questionnaries-avaliable-list>
      </div>

      <div *ngIf="etapaSelecionada?.cursos" class="mb-2">
        <h4>Cursos</h4>
        <app-courses-list [list]="[]"></app-courses-list>
      </div>

      <div *ngIf="etapaSelecionada?.enquetes" class="mb-2">
        <h4>Enquetes</h4>
        <app-polls-list [list]="listPollsByFamily"></app-polls-list>
      </div>
    </app-card>
  </ng-container>
</ng-container>

<ng-template #semProcessoAcessentamento>
  <h2 class="text-danger font-italic">
    Essa família não possui processo de reassentamento aberto
  </h2>
</ng-template>

<!-- <h2 class="h5">Situação</h2>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item" *ngFor="let item of stage; let i = index">
    <a
      class="nav-link stage{{ i }} {{ item.stageSituation }} "
      (click)="loadInfoStage(i); activateClass($event)"
    >
      {{ scheduleTypeList[item?.typeSubject]?.name | uppercase }}
    </a>
  </li>
</ul>
<div class="progress" style="height: 20px">
  <div
    class="progress-bar"
    role="progressbar"
    id="progBar"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="0"
  ></div>
</div>
<app-card class="mb-3">
  <div class="row">
    <div class="col-lg-auto">
      <p class="mb-lg-0">
        <span class="view-label">Data e Hora</span>
        <span class="d-block">{{
          tabSelected?.date | date: "dd/MM/yyyy HH:mm"
        }}</span>
      </p>
    </div>
    <div class="col-lg-auto">
      <p class="mb-lg-0">
        <span class="view-label">Assunto</span>
        <span class="d-block">{{
          scheduleTypeList[tabSelected?.typeSubject]?.name
        }}</span>
      </p>
    </div>
    <div class="col-lg-auto">
      <p class="mb-0">
        <span class="view-label">Status</span>
        <span class="d-block">{{
          timeLineStatusList[tabSelected?.typeScheduleStatus]?.name
        }}</span>
      </p>
    </div>
    <div
      class="col-lg-auto"
      *ngIf="
        tabSelected?.typeSubject == 7 && tabSelected?.stageSituation == 'active'
      "
    >
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="confirmChange(tabSelected)"
      >
        Confirmar mudança
      </button>
    </div>
  </div>
</app-card>
<app-card
  class="mb-3"
  *ngIf="tabSelected?.typeSubject == 7 || tabSelected?.typeSubject == 8"
>
  <app-schedules-list [list]="listSchedulesHistory"></app-schedules-list>
</app-card>

<app-card
  class="mb-3"
  *ngIf="tabSelected?.typeSubject == 2 || tabSelected?.typeSubject == 8"
>
  <app-questionnaries-avaliable-list
    [list]="listQuizByFamily"
  ></app-questionnaries-avaliable-list>
</app-card>

<app-card class="mb-3" *ngIf="tabSelected?.typeSubject == 4">
  <app-matchs-list [list]="listPropertiesInterest"></app-matchs-list>
</app-card>

<app-card class="mb-3">
  <app-courses-list [list]="listCourseByFamily"></app-courses-list>
</app-card>

<app-card class="mb-3">
  <app-polls-list [list]="listPollsByFamily"></app-polls-list>
</app-card> -->
