<form [formGroup]="listSearchForm">
  <div class="row mb-5">
    <div class="col">
      <app-control-field>
        <label for="search">Filtrar por</label>
        <input
          type="search"
          id="search"
          formControlName="search"
          placeholder="N° do cadastro, nome ou CPF (apenas números) do titular da família ou código do imóvel"
        />
        <app-control-error
          [control]="listSearchForm.controls.search"
        ></app-control-error>
      </app-control-field>
    </div>
  </div>
</form>
