<div class="row">
  <div class="col-lg-6">
    <app-control-field>
      <label for="cep" class="required">CEP</label>
      <input
        appControlInput
        type="tel"
        id="cep"
        [formControl]="form.controls.cep"
        mask="00000-000"
      />
      <app-control-error [control]="form.controls.cep"></app-control-error>
    </app-control-field>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <app-control-field>
      <label for="stateId" class="required">Estado</label>
      <select id="stateId" [formControl]="form.controls.stateId">
        <option [ngValue]="null">Selecione uma opção</option>
        <option *ngFor="let state of stateList" [ngValue]="state.id">
          {{ state.name }}
        </option>
      </select>
      <app-control-error [control]="form.controls.stateId"></app-control-error>
    </app-control-field>
  </div>
  <div class="col-lg-6">
    <app-control-field>
      <label for="cityId" class="required">Cidade</label>
      <select id="cityId" [formControl]="form.controls.cityId">
        <option [ngValue]="null">Selecione uma opção</option>
        <option *ngFor="let city of cityList" [ngValue]="city.id">
          {{ city.name }}
        </option>
      </select>
      <app-control-error [control]="form.controls.cityId"></app-control-error>
    </app-control-field>
  </div>
  <div class="col-lg-6">
    <app-control-field>
      <label for="neighborhood" class="required">Bairro</label>
      <input
        appControlInput
        type="text"
        id="neighborhood"
        [formControl]="form.controls.neighborhood"
      />
      <app-control-error
        [control]="form.controls.neighborhood"
      ></app-control-error>
    </app-control-field>
  </div>
  <div class="col-lg-6">
    <app-control-field>
      <label for="streetAddress" class="required">Endereço</label>
      <input
        appControlInput
        type="text"
        id="streetAddress"
        [formControl]="form.controls.streetAddress"
      />
      <app-control-error
        [control]="form.controls.streetAddress"
      ></app-control-error>
    </app-control-field>
  </div>
  <div class="col-lg-6">
    <app-control-field>
      <label for="number" class="required">Número</label>
      <input
        appControlInput
        type="tel"
        id="number"
        [formControl]="form.controls.number"
      />
      <app-control-error [control]="form.controls.number"></app-control-error>
    </app-control-field>
  </div>
  <div class="col-lg-6">
    <app-control-field>
      <label for="complement">Complemento</label>
      <input
        appControlInput
        type="text"
        id="complement"
        [formControl]="form.controls.complement"
      />
      <app-control-error
        [control]="form.controls.complement"
      ></app-control-error>
    </app-control-field>
  </div>
  <div *ngIf="showMap" class="map">
    <div>
      <span class="badge badge-info mr-2"
        >Latitide: {{ form.value.latitude }}
      </span>
      <span class="badge badge-success"
        >Longitude: {{ form.value.longitude }}</span
      >
    </div>
    <div class="form-group mt-2">
      <input
        type="text"
        class="form-control"
        (keydown.enter)="$event.preventDefault()"
        placeholder="Pesquisar localidade"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="text"
        #search
      />
    </div>
    <agm-map
      [latitude]="form.get('latitude').value"
      [longitude]="form.get('longitude').value"
      [mapDraggable]="true"
      [zoom]="zoom"
      #map
      (mapClick)="onMapClicked(map)"
    >
      <agm-marker
        [latitude]="form.get('latitude').value"
        [longitude]="form.get('longitude').value"
        [markerDraggable]="true"
      ></agm-marker>
    </agm-map>
  </div>
</div>
