<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th sortable="title" (sort)="handleSort($event)">Título da Enquete</th>
        <th>Data da enquete</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item?.title || "-" }}</td>
        <td>{{ item?.created | date: "dd/MM/yyyy, HH:mm:ss" || "-" }}</td>
        <td>
          <i (click)="handleDetails(item?.id)" class="fas fa-pen cursor"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
