<div *ngIf="list?.length" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="!hideTableItems.selectItem"></th>
        <th>Título do questionário</th>
        <th>Data da disponibilização</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td *ngIf="!hideTableItems.selectItem">
          <app-control-checkbox
            [value]="isChecked(item)"
            (changed)="listItemSelected.emit(item)"
          >
          </app-control-checkbox>
        </td>
        <td>{{ item.title || "-" }}</td>
        <td>{{ item.date || "-" }}</td>
        <td>{{ item.hasAnswered || "-" }}</td>
        <td>
          <ng-container *ngIf="!hideTableItems.details">
            <button
              class="btn btn-info"
              *ngIf="item.hasAnswered == 'Não respondido'"
              [routerLink]="['/gestor-publico/app/questionarios', item.quizId]"
            >
              Ver detalhes
            </button>
            <button
              *ngIf="item.hasAnswered != 'Não respondido'"
              class="btn btn-info"
              [routerLink]="[
                '/gestor-publico/app/questionarios/disponiveis',
                item.quizId,
                item.quizFamilyId
              ]"
            >
              Ver detalhes
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h5 *ngIf="!list?.length" class="text-info">Nenhum questionário encontrado</h5>
