<div *ngIf="list.length" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Título do questionário</th>
        <th>Data da disponibilização</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <app-control-checkbox
            [value]="isChecked(item)"
            (changed)="listItemSelected.emit(item)"
          >
          </app-control-checkbox>
        </td>
        <td>{{ item.title || "-" }}</td>
        <td>{{ item.date || "-" }}</td>
        <td>{{ item.hasAnswered || "-" }}</td>
        <td>
          <button
            *ngIf="item.status === 0"
            [routerLink]="['app/questionarios', item.id]"
          >
            Ver detalhes
          </button>
          <button
            *ngIf="item.status === 1"
            class="btn btn-info"
            [routerLink]="[
              '/gestor-publico/app/questionarios/disponiveis',
              item.quizId,
              item.familyId
            ]"
          >
            Ver detalhes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h5 *ngIf="!list.length">Nenhum questionário encontrado</h5>
