<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th sortable="title" (sort)="handleSort($event)">
          Título da notificação
        </th>
        <th class="text-center" sortable="date" (sort)="handleSort($event)">
          Data de envio
        </th>
        <th class="text-right">Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item?.title }}</td>
        <td class="text-center">
          <span>{{ item.created | date: "dd/MM/yyyy, h:mm:ss" }}</span>
        </td>
        <td class="text-right">
          <button [routerLink]="[item.id]" class="btn btn-info">
            Ver detalhes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
