<div class="header-box">
  <h1 class="h4">Linhas do tempo</h1>
  <button
    [disabled]="exportingFile"
    (click)="exportToExcel()"
    class="btn btn-dark"
  >
    Exportar para Excel
  </button>
</div>
<app-timeline-list-search
  [listSearchData]="formDataModel.search"
  (listSearchChange)="handleListSearchChange($event)"
>
</app-timeline-list-search>
<app-timeline-list
  [list]="list"
  (listSearchChange)="handleListSearchChange($event)"
  (listOrderChange)="handleListOrderChange($event)"
  (listItemSelected)="handleListItemSelected($event)"
>
</app-timeline-list>
<app-list-pagination
  [page]="formDataModel.page"
  [pageSize]="formDataModel.pageSize"
  [listSize]="listSize"
  [listSizeFiltered]="listSizeFiltered"
  (pageChange)="handleListPageChange($event)"
>
</app-list-pagination>
