<img
  [src]="imagePath || 'https://picsum.photos/200'"
  (click)="openModal(imageModal)"
  width="100px"
  height="100px"
/>

<ng-template #imageModal let-modal>
  <div class="modal-header">
    <span class="view-label">{{ label }}</span>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalService.dismissAll()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="imagePath || 'https://picsum.photos/200'" width="100%" />
  </div>
</ng-template>
