<div class="row">
  <div class="col-lg-12">
    <p><span class="view-label">Título</span> {{ notification.title }}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <span class="view-label">Descrição</span> {{ notification.description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <p>
      <span class="view-label">Data e horário</span>
      {{ notification.created * 1000 | date: "dd/MM/yyyy, h:mm:ss" }}
    </p>
  </div>
</div>

<ng-container>
  <h2 class="mt-2">Lista das famílias que receberam a notificação</h2>
  <app-family-list></app-family-list>
</ng-container>
