<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th></th> -->
        <th sortable="number" (sort)="handleSort($event)">
          Número do cadastro
        </th>
        <th sortable="holderName" (sort)="handleSort($event)">Titular</th>
        <th sortable="holderCpf" (sort)="handleSort($event)">CPF</th>
        <th>Ver detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <!-- <td>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [id]="'select-' + item.id"
              [checked]="isChecked(item)"
              (change)="listItemSelected.emit(item)"
            />
            <label class="custom-control-label" [for]="'select-' + item.id">
            </label>
          </div>
        </td> -->
        <td>{{ item.number || "-" }}</td>
        <td>{{ item.name || "-" }}</td>
        <td>{{ item.cpf || "-" | mask: "000.000.000-00" }}</td>
        <td>
          <button
            [routerLink]="[
              '/gestor-publico/app/displacement-maps/family',
              item.id
            ]"
            class="btn btn-primary"
          >
            Detalhes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
