<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th sortable="date" (sort)="handleSort($event)">Número do cadastro</th>
        <th sortable="holderName" (sort)="handleSort($event)">Titular</th>
        <th sortable="holderCpf" (sort)="handleSort($event)">CPF</th>
        <th>Ver detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td><b>N°</b> {{ item.holderNumber || "-" }}</td>
        <td>{{ item.holderName || "-" }}</td>
        <td>{{ item.holderCpf || "-" | mask: "000.000.000-00" }}</td>
        <td>
          <button
            [routerLink]="[
              '/gestor-publico/app/displacement-maps/family',
              item.familyId
            ]"
            class="btn btn-primary"
          >
            Detalhes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
