<h1 class="h4">Mapa de deslocamento - gestor</h1>

<app-displacement-map-list-search
  class="mb-3"
  [listSearchData]="formDataModel.search"
  (listSearchChange)="handleListSearchChange($event)"
>
</app-displacement-map-list-search>
<app-displacement-map-list
  [list]="list"
  (listSearchChange)="handleListSearchChange($event)"
  (listOrderChange)="handleListOrderChange($event)"
  (listItemSelected)="handleListItemSelected($event)"
>
</app-displacement-map-list>
<app-list-pagination
  [page]="formDataModel.page"
  [pageSize]="formDataModel.pageSize"
  [listSize]="listSize"
  [listSizeFiltered]="listSizeFiltered"
  (pageChange)="handleListPageChange($event)"
>
</app-list-pagination>
