<div class="box-header">
  <h1 class="h4">Mapa de deslocamento</h1>
  <button
    [disabled]="exportingFile"
    (click)="exportToExcel()"
    class="btn btn-dark"
  >
    {{ exportingFile ? "Exportando..." : "Exportar para Excel" }}
  </button>
</div>
<app-displacement-map-list-search
  class="mb-3"
  [listSearchData]="formDataModel.search"
  (listSearchChange)="handleListSearchChange($event)"
>
</app-displacement-map-list-search>
<app-displacement-map-list
  [list]="list"
  (listSearchChange)="handleListSearchChange($event)"
  (listOrderChange)="handleListOrderChange($event)"
  (listItemSelected)="handleListItemSelected($event)"
>
</app-displacement-map-list>
<app-list-pagination
  [page]="formDataModel.page"
  [pageSize]="formDataModel.pageSize"
  [listSize]="listSize"
  [listSizeFiltered]="listSizeFiltered"
  (pageChange)="handleListPageChange($event)"
>
</app-list-pagination>
