<div *ngIf="list?.length" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Data e Hora</th>
        <th>Assunto</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <ng-container *ngIf="item?.typeScheduleStatus === 1">
            <app-control-checkbox
              [value]="isChecked(item)"
              (changed)="listItemSelected.emit(item)"
            >
            </app-control-checkbox>
          </ng-container>
        </td>
        <td>{{ item.date * 1000 | date: "dd/MM/yyy HH:mm" || "-" }}</td>
        <td>{{ scheduleStatusList[item.typeScheduleStatus]?.name || "-" }}</td>
        <td>{{ scheduleTypeList[item.typeSubject]?.name || "-" }}</td>
        <td>
          <ng-container *ngIf="!hideTableItems.details">
            <button
              (click)="handleDetails(this.item.id)"
              [routerLink]="['app/agendamentos', item?.id]"
              class="btn btn-info"
            >
              Ver detalhes
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h5 *ngIf="!list?.length" class="text-info">Nenhum agendamento encontrado</h5>
